body{
  margin: 0;
}

#canvas {
  background-color: #000;
}

#grid line {
  stroke: #141516;
}

#agents circle {
  fill: #B1B2B8;
  r: 30;

  transition-duration: 500ms;
  animation: aliveBorder 500ms infinite alternate;
}

#agents circle.off {
  fill: #030303;

  stroke-width: 0px;
  animation: none;
}
